<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lemi.interact">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23"
        tools:overrideLibrary="com.herewhite.sdk" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.ForgetActivity" />
        <activity android:name=".activity.IndexActivity" />
        <activity android:name=".activity.RoomActivity" />
        <activity android:name=".activity.MemberActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.WithdrawRecordActivity" />
        <activity android:name=".activity.RechargeRecordActivity" />
        <activity android:name=".activity.PersonalActivity" />
        <activity android:name=".activity.AddRoomActivity" />
        <activity android:name=".activity.RoomInfoActivity" />
        android:name=".activity.WXPayEntryActivity"
        android:exported="true"
        android:launchMode="singleTop" />
        <activity
            android:name=".wxpay.SendToWXActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic" />
        <activity
            android:name=".wxpay.AddFavoriteToWXActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic" />
        <activity
            android:name=".wxpay.GetFromWXActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic" />
        <activity
            android:name=".wxpay.ShowFromWXActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic" />
        <activity
            android:name=".wxpay.PayActivity"
            android:label="@string/app_name"
            android:theme="@style/MMTheme.Basic" />

        <receiver android:name=".wxpay.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.AdverInfoActivity"></activity>
    </application>

</manifest>